    @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

    *,
    *::after,
    *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }

    .html {
    font-size: 62.5%;
    }

    body {
    font-family: "Poppins", sans-serif;
    background-color: powderblue;
    }

    /* ///////////..utility classes../////////// */

    .container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
    }




    @keyframes about-img-animation {
    100% {
        transform: translate(0);
    }
    }

    .about-text {
    flex: 1 1 400px;
    padding: 30px;
    margin: auto;
    transform: translate(-150%);
    animation: about-text-animation 1s ease-in-out forwards;
    }

    @keyframes about-text-animation {
    100% {
        transform: translate(0);
    }
    } 

    /* .about-img img {
    display: block;
    height: 400px;
    max-width: 100%;
    margin: auto;
    object-fit: cover;
    object-position: right;
    }  */

    #food {
    padding: 5rem 0 10rem 0;
    }

    #food h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #555;
    }

    .food-container {
    display: flex;
    justify-content: space-between;
    }

    .food-container img {
    display: block;
    width: 100%;
    margin: auto;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
    }

    .img-container {
    margin: 0 1rem;
    position: relative;
    }

    .img-content {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
    text-align: center;
    transition: all 0.3s ease-in-out 0.1s;
    }

    .img-content h3 {
    color: #fff;
    font-size: 2.2rem;
    }

    .img-content a {
    font-size: 1.2rem;
    }

    .img-container::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.871);
    opacity: 0;
    z-index: 1;

    transform: scaleY(0);
    transform-origin: 100% 100%;
    transition: all 0.3s ease-in-out;
    }

    .img-container:hover::after {
    opacity: 1;
    transform: scaleY(1);
    }

    .img-container:hover .img-content {
    opacity: 1;
    top: 40%;
    }

 

    .food-menu-container  {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px 30px 0px;
    }

    .food-menu-container img {
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    }

    .food-menu-item {
    display: flex;
    flex: 1 1 600px;
    justify-content: space-evenly;
    margin-bottom: 3rem;
    }

    .food-description {
    margin: auto 1.5rem;
    }

    .font-title {
    font-size: 1.8rem;
    font-weight: 400;
    color: #444;
    }

    .food-description p {
    font-size: 1.4rem;
    color: #555;
    font-weight: 500;
    }

    .food-description .food-price {
    color: #117964;
    font-weight: 700;
    }

    /* ........./ Testimonial /.......... */

    #testimonials {
    padding: 5rem 0;
    background: rgba(243, 243, 243);
    }

    .testimonial-title {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 400;
    color: #555;
    }

    .testimonial-container {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    padding: 1rem;
    }

    .testimonial-box .checked {
    color: #ff9529;
    }

    .testimonial-box .testimonial-text {
    margin: 1rem 0;
    color: #444;
    }

    .testimonial-box {
    text-align: center;
    padding: 1rem;
    }

    .customer-photo img {
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: auto;
    }

 
    @media (max-width: 768px) {
    .navbar {
        opacity: 0.95;
    }


    .food-container {
        flex-direction: column;
        align-items: stretch;
    }

    .food-type:not(:last-child) {
        margin-bottom: 3rem;
    }

    .food-type {
        box-shadow: 5px 5px 10px 0 #aaa;
    }

    .img-container {
        margin: 0;
    }
    }

    @media (max-width: 500px) {
    html {
        font-size: 65%;
    }

    .navbar .menu-items li{
        font-size: 1.6rem;
    }

    .testimonial-container {
        flex-direction: column;
        text-align: center;
    }

    .food-menu-container img {
        margin: auto;
    }

    .food-menu-item {
        flex-direction: column;
        text-align: center;
    }

    .form-container {
        width: 90%;
    }

    .contact-container {
        display: flex;
        flex-direction: column;
    }

    .contact-img {
        width: 90%;
        margin: 3rem auto;
    }

    /* .logo {
        position: absolute;
        top: 06px;
        right: 15px;
        font-size: 3rem;
    } */

    .navbar .menu-items li {
        margin-bottom: 2.5rem;
        font-size: 1.8rem;
        font-weight: 500;
    }
    }

    @media (min-width: 769px) and (max-width: 1200px) {
    .img-container h3 {
        font-size: 1.5rem;
    }

    .img-container .btn {
        font-size: 0.7rem;
    }
    }

    @media (orientation: landscape) and (max-height: 500px) {
    .showcase-area {
        height: 50vmax;
    }
    }


    .btns{
        display: flex;
        align-items: center;
        justify-content:space-between;
        margin-left: 200px;
    
      }
      button{
        height: 40px;
        background-color:greenyellow;
        border: none;
        width: 40px;
      margin-right: 10px;
      margin-left: 10px;
        /* background-color: yellow;
        color: red; */
      }

    .logo{
        margin-left: 100px;
        font-size: 35px;
    }
    nav {
        display:flex ;
        /* justify-content: center; */
        justify-content: space-between;
        background-color: white;
        padding: 10px 0; /* Padding around the navigation links */
        box-shadow: 0px 4px 4px rgba(12, 12, 12, 0.5); /* White shadow with opacity */
        border-bottom: 2px solid gray; /* White bottom border */
        position: fixed; /* Make the navigation bar stick to the top */
        top: 0; /* Position it at the top of the viewport */
        left: 0; /* Align it to the left */
        width: 100%; /* Make it full width */
        z-index: 1000; /* Set a high z-index to ensure it appears on top of other content */
        transition: background-color 0.3s ease; /* Smooth transition for background color change */
      }
      
       .nav-transparent {
        background-color: rgba(156, 19, 19, 0.9); /* Semi-transparent background color */
      }
      .cart-img {
        position: absolute;
         /* Make sure the parent container is positioned */
    }
    
    .total {
    position: relative;
        top: -10px; /* Adjust as needed */
        right: 0px; /* Adjust as needed */
        left: 30px;
        font-size: 15px;
        width: 20px;
        
        border-radius: 50%;
    }
    .info{
        margin-right:100px;
    }
    